<?php
// Zabbix GUI configuration file
global $DB;
 
$DB['TYPE'] = 'MYSQL';
$DB['SERVER'] = 'localhost';
$DB['PORT'] = "{{ port }}";
$DB['DATABASE'] = 'zabbix';
$DB['USER'] = 'zabbix';
$DB['PASSWORD'] = "{{ mysql_zabbix_pass }}";
 
// ...
